<!-- <div>
    <app-page-header [heading]="'Bootstrap Component'" [icon]="'fa-th-list'"></app-page-header>
    <app-modal></app-modal>
    <app-alert></app-alert>
    <app-buttons></app-buttons>
    <app-collapse></app-collapse>
    <app-date-picker></app-date-picker>
    <app-dropdown></app-dropdown>
    <app-pagination></app-pagination>
    <app-pop-over></app-pop-over>
    <app-progressbar></app-progressbar>
    <app-tabs></app-tabs>
    <app-tooltip></app-tooltip>
    <app-timepicker></app-timepicker>
    <app-rating></app-rating>
     (selectedKeysChange)="selectedKeysChange($event)"
     [selectedKeys]="selectedKeys"
     [kendoGridSelectBy]="'codigoProducto'"
</div> -->
<div>

    <kendo-grid [data]="listaGridPedidos" [height]="410" [pageSize]="gridState.take" [skip]="gridState.skip"
      [sort]="gridState.sort" [pageable]="true" [sortable]="true" [selectable]="true"
      [selectable]="{ checkboxOnly: false, mode: 'single' }"
      (selectedKeysChange)="selectedKeysChange($event)"
      [kendoGridSelectBy]="'codigoProducto'"
      [selectedKeys]="selectedKeys"> 
      <kendo-grid-column field="fechaRegistro" title="Fecha Registro" editor="numeric" width="120">
      </kendo-grid-column>
      <kendo-grid-column field="fechaEntrega" title="Fecha Entrega" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="codigoProducto" title="codigo Producto" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="nombreProducto" title="nombre Producto" width="150">
      </kendo-grid-column>
      <kendo-grid-column field="razonSocial" title="razon Social" width="150">
      </kendo-grid-column>
      <kendo-grid-column field="cantidadBolsas" title="cantidad Bolsas" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="cumplimiento" title="cumplimiento" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="devoluciones" title="devoluciones" width="100">
      </kendo-grid-column>
    </kendo-grid>
    <!-- (click)="onSelect(pedido)"
      [class.selected]="hero === selectedHero" -->
    <!-- <ul class="heroes">
      <li *ngFor="let pedido of listaGridPedidos"
      (click)="onSelect(pedido)">
        <span class="badge">Fecha Registro: {{pedido.fechaRegistro}}</span>
        Fecha Entrega: {{pedido.fechaEntrega}} Codigo Producto: {{pedido.productosContpaq[0].codigoProducto}}
      </li>
    </ul>-->
    <div *ngIf="pedidoSeleccionado"> 

      <h2>{{pedidoSeleccionado.fechaEntrega | uppercase}} Detalles</h2>
      
      <div>
        
        <ul class="heroes">
          <li *ngFor="let producto of listaProducto"
          >
            <span class="badge">{{producto.codigoProducto}}</span> 
            {{producto.nombreProducto}}
            <span class="badge">{{producto.razonSocial}}</span>
            {{producto.cantidadBolsas}}
            <form [formGroup]="formaProducto" (ngSubmit)="onSubmit(producto)">
              <div class="form-group" >
                <label for="devolucionesProducto">Devoluciones producto</label>
                <input type="text"
                id="devolucionesProducto"
                class="form-control"
                formControlName="devolucionesProducto">
                <span 
                *ngIf="!formaProducto.get('devolucionesProducto').valid && formaProducto.get('devolucionesProducto').touched"
                class="help-block">Solo se pueden ingresar números</span>
                <button class="btn btn-primary" type="submit"
        [disabled]="!formaProducto.valid">Guardar Devoluciones</button>
              </div>
            </form>
          </li>
        </ul>

      </div>
    
    </div>
    
</div>