<div class="row">
    <div class="col-lg-8">
      <form [formGroup]="formaInventarioFisico" (ngSubmit)="onSubmit()">
        <div class="form-group" >
          <label for="CodigoProducto">Codigo Poducto</label>
          <input type="text"
          id="codigoProducto"
          class="form-control"
          formControlName="codigoProducto">
          <span 
          *ngIf="!formaInventarioFisico.get('codigoProducto').valid && formaInventarioFisico.get('codigoProducto').touched"
          class="help-block">Ingresa un codigo valido</span>
        </div>
        <div class="form-group">
          <label for="nombreProducto">Nombre del producto</label>
          <input type="text"
          id="nombreProducto"
          class="form-control"
          formControlName="nombreProducto">
          <span 
          *ngIf="!formaInventarioFisico.get('nombreProducto').valid && formaInventarioFisico.get('nombreProducto').touched"
          class="help-block">Ingresa un nombre valido</span>
        </div>
        <div class="form-group">
            <label for="numeroBolsas">Número de bolsas</label>
            <input type="text"
            id="numBolsas"
            class="form-control"
            formControlName="numBolsas">
            <span 
            *ngIf="!formaInventarioFisico.get('numBolsas').valid && formaInventarioFisico.get('numBolsas').touched"
            class="help-block">Ingresa un numero de bolsas valido.</span>
          </div>
        <div class="form-group">
          <label for="folioRemision">Folio Remision</label>
            <input type="text"
            id="folioRemision"
            formControlName="folioRemision">
            <span 
            *ngIf="!formaInventarioFisico.get('folioRemision').valid && formaInventarioFisico.get('folioRemision').touched"
            class="help-block">Ingresa un numero de bolsas valido.</span>
        </div>
        <div class="form-group">
          <label for="numeroBolsas">Fecha del Inventario</label>
          <input type="date"
          id="fechaInventario"
          formControlName="fechaInventario">
          <span 
          *ngIf="!formaInventarioFisico.get('fechaInventario').valid && formaInventarioFisico.get('fechaInventario').touched"
          class="help-block">Ingresa una fecha valida.</span>
        </div>
        <span 
        *ngIf="!formaInventarioFisico.valid && formaInventarioFisico.touched"
        class="help-block">Ingresa informacion valida</span>
        <button class="btn btn-primary" type="submit"
        [disabled]="!formaInventarioFisico.valid">Guardar Registro Inventario Fisico</button>
      </form>
    </div>
  </div>