<div class="row">
    <div class="col-lg-8">
        <kendo-grid
        [data]="listaGridMovimientos" 
        [height]="410" 
        [sortable]="true" 
        [selectable]="true"
        [selectable]="{ checkboxOnly: false, mode: 'single' }"
        (selectedKeysChange)="selectedKeysChange($event)"    
        [kendoGridSelectBy]="'idMovimientoAlmacen'"
        [selectedKeys]="selectedKeys"> 
        <kendo-grid-column field="idMovimientoAlmacen" title="ID" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="nombreProducto" title="Nombre" width="150">
        </kendo-grid-column> 
        <kendo-grid-column field="codigoProducto" title="Codigo" width="150">
        </kendo-grid-column>
        <kendo-grid-column field="tipoMovimiento" title="Tipo Movimiento" width="150">
        </kendo-grid-column> 
        <kendo-grid-column field="numBolsas" title="Numero de Bolsas" width="150">
        </kendo-grid-column> 
        <kendo-grid-column field="fechaMovimiento" title="Fecha del Movimiento" width="150">
        </kendo-grid-column> 
        <kendo-grid-column field="Turno" title="Turno" width="100">
        </kendo-grid-column> 
        <kendo-grid-column field="folioRemision" title="Folio de Remision" width="150">
        </kendo-grid-column>
      </kendo-grid>  
      <button 
      class="btn btn-primary"
      (click)="OnClickObtenerMovimientos()">Obtener Movimientos</button>
      <form [formGroup]="formaAlmacen" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="Cliente">Cliente</label>
              <kendo-autocomplete 
              id="cliente" 
               name="cliente" 
              [data]="lstClientes" 
              [placeholder]="'Seleccione el cliente'" 
              [valueField]="'razonSocial'" 
              ngModel
              aria-required="Introdusca el cliente"
              formControlName="clientes">
      </kendo-autocomplete>
      <button class="btn btn-primary" (click)="OnClickObtenerClientes()">
        Obtener Clientes
      </button>
            </div>
            <div class="form-group">
              <label for="Producto">Nombre Del producto</label>
      <kendo-autocomplete 
      id="nombreProducto" 
      name="nombreProducto"
      [data]="lstProductosCliente"
      [placeholder]="'Seleccione el nombre del producto'" 
      [valueField]="'nombreProducto'" 
      ngModel
      aria-required="Introdusca el nombreProducto del producto"
      formControlName="nombreProducto">
    </kendo-autocomplete>
    <button class="btn btn-primary" 
    (click)="OnClickObtenerProductos()">
      Obtener Productos
    </button>   
            </div>
        <div class="form-group" *ngFor="let tipo of tiposMovimientos">
          <label for="tipoMovimiento">
            <input type="radio"
            [value]="tipo"
            id="tipoMovimiento"
            formControlName="tipoMovimiento">{{tipo}}
          </label>
        </div>
        <div class="form-group" *ngIf="formaAlmacen.value.tipoMovimiento==='Salida'">
          <label for="folioRemision">Folio Remision</label>
            <input type="text"
            id="folioRemision"
            formControlName="folioRemision">
          
        </div>
        <div class="form-group">
          <label for="numeroBolsas">Número de Bolsas</label>
          <input type="text"
          id="numeroBolsas"
          formControlName="numeroBolsas">
          <span 
          *ngIf="!formaAlmacen.get('numeroBolsas').valid && formaAlmacen.get('numeroBolsas').touched"
          class="help-block">Ingresa un número valido</span>
        </div>
        <!-- <div class="form-group">
          <label for="fechaMovimiento"></label>
        </div> -->
        <div class="form-group" *ngFor="let turno of turnos">
          <label for="turno">Turno {{turno}}
          <input type="radio"
          id="turno"
          [value]="turno"
          formControlName="turno"> </label>
        </div>
        <span 
        *ngIf="!formaAlmacen.valid && formaAlmacen.touched"
        class="help-block">Ingresa informacion valida</span>
        <button class="btn btn-primary" type="submit"
        [disabled]="!formaAlmacen.valid">Guardar Movimiento</button>
      </form>
      <button 
    class="btn btn-success" 
    (click)="OnClickEditMovimiento()"
    [disabled]="selectedKeys.length === 0 
    || !formaAlmacen.valid
    ">Editar Producto</button>
    </div>
  </div>