<div class="row">
  <div class="col-lg-8">
    <form (ngSubmit)="onDropDownItemSelected()" [formGroup]="formaProducto" >
      <div class="form-group">
        <label for="Cliente">Cliente</label>
        <kendo-autocomplete 
        id="cliente" 
        name="cliente" 
        [data]="lstClientes" 
        [placeholder]="'Seleccione el cliente'"
        [valueField]="'razonSocial'" 
        ngModel 
        aria-required="Introdusca el cliente"
        formControlName="cliente">
        </kendo-autocomplete>
        <button class="btn btn-primary" (click)="OnClickObtenerClientes()" [disabled]="esperawe">
          Obtener Clientes
        </button>
      </div>
      <div class="form-group">
        <label for="Producto">Nombre Del producto</label>
        <kendo-autocomplete 
        id="nombreProducto" 
        name="nombreProducto" 
        [data]="lstProductosCliente"
        [placeholder]="'Seleccione el nombre del producto'" 
        [valueField]="'nombreProducto'" 
        ngModel
        aria-required="Introdusca el nombreProducto del producto"
        formControlName="producto">
        </kendo-autocomplete>
        <button class="btn btn-primary" (click)="OnClickObtenerProductos()" [disabled]="esperawe">
          Obtener Productos
        </button>
      </div>
    </form>

    <kendo-grid 
        [data]="listaGridPedidos"  
        [height]="410" 
        [sortable]="true"
        [selectable]="true"
      [selectable]="{ checkboxOnly: false, mode: 'single' }"
      [kendoGridSelectBy]="'idPedidoSemanal'"
      [selectedKeys]="selectedKeys"> 
      <kendo-grid-column field="idPedidoSemanal" title="ID" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="nombreProducto" title="Nombre" width="150">
      </kendo-grid-column>
      <kendo-grid-column field="codigoProducto" title="Codigo" width="150">
        </kendo-grid-column> 
        <kendo-grid-column field="cliente" title="Cliente" width="150">
        </kendo-grid-column> 
        <kendo-grid-column field="numBolLunes" title="Lunes" width="150">
        </kendo-grid-column>   
        <kendo-grid-column field="numBolMartes" title="Martes" width="150">
        </kendo-grid-column>   
        <kendo-grid-column field="numBolMiercoles" title="Miercoles" width="150">
        </kendo-grid-column>   
        <kendo-grid-column field="numBolJueves" title="Jueves" width="150">
        </kendo-grid-column>   
        <kendo-grid-column field="numBolViernes" title="Viernes" width="150">
        </kendo-grid-column>   
        <kendo-grid-column field="numBolSabado" title="Sabado" width="150">
        </kendo-grid-column>   
        <kendo-grid-column field="numBolDomingo" title="Domingo" width="150">
        </kendo-grid-column>   
        <kendo-grid-column field="fechaInicio" title="Fecha Inicio" width="150">
        </kendo-grid-column>  
        <kendo-grid-column field="fechaFin" title="Fecha Fin" width="150">
        </kendo-grid-column>  
    </kendo-grid>  
    <button class="btn btn-primary" (click)="OnClickObtenerPedidos()" [disabled]="esperawe">
      Obtener Pedidos
    </button>
    <div class="col-lg-8">
      <form [formGroup]="formaPedido" (ngSubmit)="onSubmitFormaProducto()">
        <div class="form-group">
          <label for="PiezasLunes">Número de piezas Lunes</label>
          <input type="text" id="piezasLunes" class="form-control" formControlName="piezasLunes">
          <span *ngIf="!formaPedido.get('piezasLunes').valid && formaPedido.get('piezasLunes').touched"
            class="help-block">Ingresa un número de bolsas valido</span>
        </div>
        <div class="form-group">
          <label for="PiezasMartes">Número de piezas Martes</label>
          <input type="text" id="piezasMartes" class="form-control" formControlName="piezasMartes">
          <span *ngIf="!formaPedido.get('piezasMartes').valid && formaPedido.get('piezasMartes').touched"
            class="help-block">Ingresa un número de bolsas valido</span>
        </div>
        <div class="form-group">
          <label for="PiezasMiercoles">Número de piezas Miercoles</label>
          <input type="text" id="piezasMiercoles" class="form-control" formControlName="piezasMiercoles">
          <span *ngIf="!formaPedido.get('piezasMiercoles').valid && formaPedido.get('piezasMiercoles').touched"
            class="help-block">Ingresa un número de bolsas valido</span>
        </div>
        <div class="form-group">
          <label for="PiezasJueves">Número de piezas Jueves</label>
          <input type="text" id="piezasJueves" class="form-control" formControlName="piezasJueves">
          <span *ngIf="!formaPedido.get('piezasJueves').valid && formaPedido.get('piezasJueves').touched"
            class="help-block">Ingresa un número de bolsas valido</span>
        </div>
        <div class="form-group">
          <label for="PiezasViernes">Número de piezas Viernes</label>
          <input type="text" id="piezasViernes" class="form-control" formControlName="piezasViernes">
          <span *ngIf="!formaPedido.get('piezasViernes').valid && formaPedido.get('piezasViernes').touched"
            class="help-block">Ingresa un número de bolsas valido</span>
        </div>
        <div class="form-group">
          <label for="PiezasSabado">Número de piezas Sabado</label>
          <input type="text" id="piezasSabado" class="form-control" formControlName="piezasSabado">
          <span *ngIf="!formaPedido.get('piezasSabado').valid && formaPedido.get('piezasSabado').touched"
            class="help-block">Ingresa un número de bolsas valido</span>
        </div>
        <div class="form-group">
          <label for="PiezasDomingo">Número de piezas Domingo</label>
          <input type="text" id="piezasDomingo" class="form-control" formControlName="piezasDomingo">
          <span *ngIf="!formaPedido.get('piezasDomingo').valid && formaPedido.get('piezasDomingo').touched"
            class="help-block">Ingresa un número de bolsas valido</span>
        </div>
        <div class="form-group">
          <label for="FechaInicio">Fecha inicio de semana</label>
          <input type="date" id="fechaInicio" class="form-control" formControlName="fechaInicio">
          <span *ngIf="!formaPedido.get('fechaInicio').valid && formaPedido.get('fechaInicio').touched"
            class="help-block">Ingresa una fecha valida</span>
        </div>
        <div class="form-group">
          <label for="FechaFin">Fecha fin de semana</label>
          <input type="date" id="fechaFin" class="form-control" formControlName="fechaFin">
          <span *ngIf="!formaPedido.get('fechaFin').valid && formaPedido.get('fechaFin').touched"
            class="help-block">Ingresa una fecha valida</span>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!formaPedido.valid ">
          Agregar pedido</button>
      </form>
      <button class="btn btn-success"
      (click)="OnClickEditPedido()"
       [disabled]="selectedKeys.length === 0 
      || !formaPedido.valid">
          Editar pedido</button>
    </div>

  </div>
</div>
<!--  <button class="btn btn-primary" type="submit" [disabled]="!formaPedidos.valid">Agregar Pedido</button> -->